.tagButton {
	padding: 0.25rem 0.75rem;
	border-radius: 9999px;
	border: 1px solid #4b5563;
	background-color: #374151;
	color: #d1d5db;
	cursor: pointer;
	transition: all 0.2s ease;
}

.tagButton:hover {
	background-color: #4b5563;
}

.tagButton.active {
	background-color: oklch(50.5% 0.213 27.518);
	color: #111827;
	font-weight: 600;
	border-color: transparent;
}
