        .animateFadeIn {
        	animation: fadeIn 0.25s ease-out forwards;
        }

        @keyframes fadeIn {
        	from {
        		opacity: 0;
        	}

        	to {
        		opacity: 1;
        	}
        }
